
@model EIApp.Models.UserInfo
<div data-options="region:'center',title:'center title'">
    @Model.UName<br />
    @Model.Pwd<br />
    @Html.Raw("<p><b>sssssss</b></p>")
    @Href("~/Home/Index")
    @helper List(List<string> dogs)
{
    <ul>
        @foreach (string s in dogs)
        {
            <li>@s</li>
        }
    </ul>
}
    @List(new List<string>() { "ruiky", "lisa", "lucy" })
    @Html.TextBoxFor(m => m.UName) //1.视图上调用方法
</div>